// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-tabs {
 .tabbar {
   a.tab-button[aria-selected="true"] {
     ion-icon:before {
       color: map_get($colors, secondary);
     }
     span.tab-button-text {
       color: map_get($colors, secondary);
     }
   }
 }
}

ion-list:not([no-lines]).list .item-block .item-inner {
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

ion-list[list-style-1] {
  ion-item.item {

    border-radius: 15px;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    ion-note[item-start] {
      margin-right: 15px;
      color: map_get($colors, secondary);
    }

  }
}
